@media screen and (max-width:950px){    
    #uses .big-card.card .right-col, #uses .big-card.card .left-col{
        width: 100%;
        text-align: left;
    }

    #uses .big-card.card .right-col img{
        position: relative;
        top: 40px;
        left: 20px;
        text-align: left;
    }

    #benefits .card{
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (max-width:768px) {
    header nav{
        display: none;
    }

    header #burger-menu{
        display: block;
    }

    #planning .flex-container > *{
        width: 100%;
    }

    #planning .left-col{
        margin-bottom: 35px;
    }

    #planning .left-col h2{
        font-size: 60px;
    }

    #planning .right-col img{
        max-width: 100%;
    }
}

@media screen and (max-width:656px){
    #uses .flex-container .card{
        width: 100%;
    }

    #testimonials .card{
        padding: 30px 20px;
    }

    #testimonials .card .left-col{
        margin-bottom: 15px;
    }

    #testimonials .card .left-col, #testimonials .card .right-col{
        width: 100%;
        text-align: center;
    }

    #benefits .card{
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    #planning .left-col h2{
        font-size: 30px;
    }

    #testimonials h2{
        font-size: 35px;
    }

    #benefits h2{
        font-size: 35px;
    }
}