*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general rules */
body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

.button{
    border-radius: 1000px;
}

/* header rules */
header{
    background-color: #0084fd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 75px;
    color: #fff;
    font-size: 18px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header ul{
    display: inline-block;
}

header li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

header .button{
    display: inline-block;
    color: black;
    background-color: #fff;
    padding: 10px 15px;
}

header #burger-menu{
    display: none;
    font-size: 35px;
}

/* main rules */
main{
    margin-top: 125px;
}

main .flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Section uses rules */
#uses .flex-container{
    gap: 20px;
}

#uses .card{
    background-color: #b5ddff;
    text-align: center;
    width: calc((100% - 40px) / 3);
    padding: 30px 25px;
    border-radius: 15px;
    color: #657c8f;
    font-weight: bold;
    line-height: 30px;
}

#uses .card h3{
    color: #0e8afd;
    font-size: 23px;
    margin-bottom: 25px;
}

.card .icon{
    color:#0084fd;
    font-size: 80px;
    margin-bottom: 30px;
} 

#uses .card.big-card{
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 40px) / 3 * 2 + 20px);
}

#uses .card.big-card .left-col{
    width: 50%;
    text-align: left;
}

#uses .card.big-card .right-col{
    width: 50%;
    position: relative;
}

#uses .card.big-card .right-col img{
    width: 250px;
    position: absolute;
    bottom: -30px;
    left: 45px;
}

#uses .card.big-card .left-col .button{
    display: inline-block;
    padding: 9px 50px;
    background-color: #0e8afd;
    color: #fff;
    font-size: 18px;
    margin: 30px 0 0;
}