*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general rules */
body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

.medium-container{
    max-width: 875px;;
}

.button{
    border-radius: 1000px;
}

.violet{
    background-color: #9792e4;
}

/* header rules */
header{
    background-color: #0084fd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 75px;
    color: #fff;
    font-size: 18px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header ul{
    display: inline-block;
}

header li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

header .button{
    display: inline-block;
    color: black;
    background-color: #fff;
    padding: 10px 15px;
}

header #burger-menu{
    display: none;
    font-size: 35px;
}

/* main rules */
main{
    margin-top: 125px;
}

main .flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Section uses rules */
#uses{
    padding-bottom: 100px;
}

#uses .flex-container{
    gap: 20px;
}

#uses .card{
    background-color: #b5ddff;
    text-align: center;
    width: calc((100% - 40px) / 3);
    padding: 30px 25px;
    border-radius: 15px;
    color: #657c8f;
    font-weight: bold;
    line-height: 30px;
}

#uses .card h3{
    color: #0e8afd;
    font-size: 23px;
    margin-bottom: 25px;
}

.card .icon{
    color:#0084fd;
    font-size: 80px;
    margin-bottom: 30px;
} 

#uses .card.big-card{
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 40px) / 3 * 2 + 20px);
}

#uses .card.big-card .left-col{
    width: 50%;
    text-align: left;
}

#uses .card.big-card .right-col{
    width: 50%;
    position: relative;
}

#uses .card.big-card .right-col img{
    width: 250px;
    position: absolute;
    bottom: -30px;
    left: 45px;
}

#uses .card.big-card .left-col .button{
    display: inline-block;
    padding: 9px 50px;
    background-color: #0e8afd;
    color: #fff;
    font-size: 18px;
    margin: 30px 0 0;
}

/* planning section rules */
#planning{
    padding-bottom: 60px;
}

#planning img{
    max-width: 100%;
}

#planning .flex-container{
    align-items: flex-end;
}

#planning .flex-container > *{
    width: 45%;
}

#planning .left-col{
    color: #fff;
}

#planning .left-col img{
    margin: 135px 0;
}

#planning .left-col h2{
    font-size: 30px;
    margin-bottom: 50px;
}

#planning .left-col p{
    line-height: 30px;
}

#planning .right-col{
    background-color: #fff;
    padding: 35px 38px;
    text-align: center;
    border-radius: 45px;
}

#planning .right-col img{
    max-width: 250px;
}

#planning .right-col h3{
    margin: 15px 0 20px;
    font-weight: 800;
    font-size: 25px;
}

#planning .right-col p{
    line-height: 30px;
    font-style: italic;
}

#planning .right-col .button{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    margin-top: 35px;
}

/* testimonial section rules */
#testimonials{
    text-align: center;
    margin: 65px 0 110px;
    font-size: 18px;
}

#testimonials h2{
    color: #9792e4;
    font-size: 47px;
}

#testimonials p{
    padding: 0 5%;
    line-height: 33px;
    margin: 35px 0;
}

#testimonials .card{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    padding: 30px 55px 40px 15px;
    border-radius: 45px;
    margin-bottom: 30px;
}

#testimonials .card img{
    height: 200px;
    border-radius: 100px;
}

#testimonials .card figcaption{
    font-weight: bold;
    margin-top: 30px;
}

#testimonials .card .right-col{
    width: calc(100% - 260px);
}

/* benefits section rules */
#benefits{
    padding: 75px 0 65px;
}

#benefits .flex-container{
    row-gap: 30px;
}

#benefits h2{
    color: #fff;
    font-size: 50px;
    text-align: center;
    width: 90%;
    margin: 0 auto 75px;
}

#benefits .card{
    background-color: #fff;
    width: calc((100% - 60px) / 3);
    border-radius: 15px;
    padding: 40px 30px 30px;
}

#benefits .card h3{
    font-size: 75px;
}

#benefits .card h4{
    font-size: 25px;
    margin: 25px 0;
}

#benefits .card h3, #benefits .card h4{
    color: #9792e4;
}

#benefits .card p{
    color: #657c8f;
    line-height: 25px;
    margin-bottom: 20px;
}

#benefits .card .button{
    display: inline-block;
    color: #fff;
    padding: 10px 45px
}

/* about-us section rules */
#about-us .container{
    padding: 100px 2% 150px;
}

#about-us .left-col{
    max-width: 727px;
    width: calc(100% - 340px);
}

#about-us .left-col p{
    font-size: 18px;
    line-height: 40px;
    margin-top: 40px;
}

#about-us h2{
    font-size: 70px;
    color: #9792e4;
}

#about-us .right-col{
    width: 250px;
}

#about-us .right-col .img{
    display: inline-block;
    position: relative;
}

#about-us .right-col img{
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

#about-us .right-col figcaption{
    color: #9792e4;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0;
}

#about-us .right-col .button{
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
}

#about-us .right-col #quotes{
    color: #9792e4;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 80px;
}